Final Deliverables/Signs with Smart Conenctivity for Better Road Safety Node Red Flows.json
[{"id":"46f6cb55b950e676","type":"tab","label":"Node Red Rnd Num","disabled":true,"info":"","env":[]},{"id":"2fd9f7e8310489f7","type":"tab","label":"Dynamic Speed","disabled":false,"info":"","env":[]},{"id":"dc1fb371851d91c0","type":"tab","label":"Optimal Lane","disabled":false,"info":"","env":[]},{"id":"c1cec8c454ba3ea7","type":"tab","label":"HTTP Requests","disabled":false,"info":"","env":[]},{"id":"9e20cd150fbcb764","type":"ibmiot","name":"eg2","keepalive":"60","serverName":"psh4py.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9d182c1b08869556","type":"cloudant","host":"https://apikey-v2-kinzz26mjzg1yff2pn3tmqhcq28cv2tik7s85f15e4q:de151ede2801b718bd6d5248f2201f0a@1cb3995e-d783-42a8-86d2-9c70723c8159-bluemix.cloudantnosqldb.appdomain.cloud","name":"db"},{"id":"2443a2306fa899cc","type":"ui_group","name":"Speed Limit","tab":"eff2cef30a1d9d49","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"eff2cef30a1d9d49","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"6eb0897cd61559f3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7435a02786ad9c0e","type":"ui_group","name":"Environment Data","tab":"eff2cef30a1d9d49","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"7e8a898bb09088aa","type":"ui_group","name":"High Priority Vehicle Direction","tab":"eff2cef30a1d9d49","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1f11c83575c59148","type":"ui_group","name":"Lane Density","tab":"eff2cef30a1d9d49","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d50ba74aed362146","type":"ui_tab","name":"Database Panel","icon":"Data","disabled":false,"hidden":false},{"id":"d29675398dd2c79f","type":"ui_group","name":"Store Data","tab":"d50ba74aed362146","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"02d96de6e957d233","type":"ui_tab","name":"Gas Leakage Monitoring and Alerting System for Industries - PNT2022TMID35867","icon":"Dashboard","disabled":false,"hidden":false,"info":"**_Gas Concentration Level Chart_**"},{"id":"8de75b371765aa51","type":"ui_group","name":"","tab":"02d96de6e957d233","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"125c46f37ce2a1f1","type":"ibmiot","name":"IBM_device","keepalive":"60","serverName":"wf2kmp.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3bed3ca2986024e1","type":"function","z":"46f6cb55b950e676","name":"Shortest Lane Calculation","func":"msg.payload = msg.l1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":240,"wires":[["4548d50abaf279a8","4ba7beebe08df1b2"]]},{"id":"5f5d85aad1177ce2","type":"ui_chart","z":"46f6cb55b950e676","name":"Lane Density","group":"1f11c83575c59148","order":0,"width":0,"height":0,"label":"Lane density","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Lane density in numbers","dot":false,"ymin":"0","ymax":"110","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":910,"y":440,"wires":[[]]},{"id":"4548d50abaf279a8","type":"ui_text","z":"46f6cb55b950e676","group":"1f11c83575c59148","order":1,"width":0,"height":0,"name":"Optimal Lane display","label":"Optimal Lane","format":"{{msg.payload}}","layout":"col-center","className":"","x":860,"y":240,"wires":[]},{"id":"d2a1a046b2f13deb","type":"function","z":"46f6cb55b950e676","name":"Shortest Lane Calculation","func":"var l1 = msg.payload.Lane_1;\nvar l2 = msg.payload.Lane_2;\nvar l3 = msg.payload.Lane_3;\nvar l4 = msg.payload.Lane_4;\n\nmini = Math.min(l1,l2,l3,l4);\nmsg.payload = mini;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":460,"wires":[["5f5d85aad1177ce2"]]},{"id":"4ba7beebe08df1b2","type":"debug","z":"46f6cb55b950e676","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":300,"wires":[]},{"id":"79bfa9ab76da3cfc","type":"random","z":"46f6cb55b950e676","name":"Lane_1","low":"0","high":"100","inte":"true","property":"payload","x":300,"y":140,"wires":[["3bed3ca2986024e1"]]},{"id":"4bef2e6f94b0d20c","type":"random","z":"46f6cb55b950e676","name":"Lane_2","low":"0","high":"100","inte":"true","property":"payload","x":300,"y":220,"wires":[[]]},{"id":"a65dc6f80ff9c0eb","type":"random","z":"46f6cb55b950e676","name":"Lane_3","low":"0","high":"100","inte":"true","property":"payload","x":300,"y":300,"wires":[[]]},{"id":"1b48ebd04f65d6d2","type":"random","z":"46f6cb55b950e676","name":"Lane_4","low":"0","high":"100","inte":"true","property":"payload","x":300,"y":380,"wires":[["d2a1a046b2f13deb"]]},{"id":"b2800389609aaef4","type":"inject","z":"46f6cb55b950e676","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":260,"wires":[["79bfa9ab76da3cfc","4bef2e6f94b0d20c","a65dc6f80ff9c0eb","1b48ebd04f65d6d2"]]},{"id":"0e979b5344f01aa7","type":"ibmiot in","z":"2fd9f7e8310489f7","authentication":"apiKey","apiKey":"9e20cd150fbcb764","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"4571","applicationId":"","deviceType":"alert-device","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":false,"allFormats":false,"qos":0,"x":230,"y":140,"wires":[["c4329da80278fb94","0a8fc4531b23a762","af27c2d1eb711af7","e2ba9c1867f70ae2"]]},{"id":"414f8427f2ea2640","type":"debug","z":"2fd9f7e8310489f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":20,"wires":[]},{"id":"c4329da80278fb94","type":"function","z":"2fd9f7e8310489f7","name":"speed_calc","func":"global.set(\"temp\", msg.payload.temp);\nglobal.set(\"humid\", msg.payload.humidity);\n\n\nvar humid = global.get(\"humid\");\nvar temp = global.get(\"temp\");\n\nvar speed = 80;\n\nif(temp < 25) {\n    if(humid > 75){\n        speed = speed - 25 + temp;\n    }\n}\n\nglobal.set(\"speed\", speed);\n\nmsg.payload = speed;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":60,"wires":[["414f8427f2ea2640","d431d3418aa9f370"]]},{"id":"d431d3418aa9f370","type":"ui_gauge","z":"2fd9f7e8310489f7","name":"speed","group":"2443a2306fa899cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Speed Limit","label":"kmph","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":690,"y":140,"wires":[]},{"id":"68fa74d63fad55c3","type":"ui_text","z":"2fd9f7e8310489f7","group":"7435a02786ad9c0e","order":1,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"col-center","className":"","x":410,"y":440,"wires":[]},{"id":"72bdc60dbaeb30a0","type":"ui_text","z":"2fd9f7e8310489f7","group":"7435a02786ad9c0e","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"col-center","className":"","x":400,"y":500,"wires":[]},{"id":"0a8fc4531b23a762","type":"function","z":"2fd9f7e8310489f7","name":"temp_fn","func":"msg.payload = msg.payload.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":440,"wires":[["68fa74d63fad55c3"]]},{"id":"af27c2d1eb711af7","type":"function","z":"2fd9f7e8310489f7","name":"humidity_fn","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":500,"wires":[["72bdc60dbaeb30a0"]]},{"id":"e2ba9c1867f70ae2","type":"function","z":"2fd9f7e8310489f7","name":"","func":"global.set(\"n\", msg.payload.North);\nglobal.set(\"s\", msg.payload.South);\nglobal.set(\"w\", msg.payload.West);\nglobal.set(\"e\", msg.payload.East);\n\nvar n = global.get(\"n\");\nvar s = global.get(\"s\");\nvar e = global.get(\"e\");\nvar w = global.get(\"w\");\n\nvar res = \"-\";\n\nif(n==1) {\n    res = \"North\";\n}\nelse if(s==1) {\n    res = \"South\";\n}\nelse if(e==1) {\n    res = \"East\";\n}\nelse if(w==1) {\n    res = \"West\";\n}\n\nglobal.set(\"res\", res);\n\nmsg.payload = res;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":260,"wires":[["99fae50d5b80232f","0dbb0b4d08be6030"]]},{"id":"99fae50d5b80232f","type":"debug","z":"2fd9f7e8310489f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":260,"wires":[]},{"id":"0dbb0b4d08be6030","type":"ui_text","z":"2fd9f7e8310489f7","group":"7e8a898bb09088aa","order":1,"width":0,"height":0,"name":"","label":"High Priority","format":"Towards {{msg.payload}}","layout":"col-center","className":"","x":670,"y":360,"wires":[]},{"id":"473fb6d108d55caf","type":"ibmiot in","z":"dc1fb371851d91c0","authentication":"apiKey","apiKey":"9e20cd150fbcb764","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0001","applicationId":"","deviceType":"edge-device-1","eventType":"+","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":false,"allFormats":false,"qos":0,"x":150,"y":260,"wires":[["3c1761734e6abafc","11eb74930ac11b7d","89fee932ec44e399"]]},{"id":"3c1761734e6abafc","type":"debug","z":"dc1fb371851d91c0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":60,"wires":[]},{"id":"11eb74930ac11b7d","type":"function","z":"dc1fb371851d91c0","name":"Shortest Lane Calculation","func":"global.set(\"l1\", msg.payload.Lane_1);\nglobal.set(\"l2\", msg.payload.Lane_2);\nglobal.set(\"l3\", msg.payload.Lane_3);\nglobal.set(\"l4\", msg.payload.Lane_4);\n\nvar l1 = global.get(\"l1\");\nvar l2 = global.get(\"l2\");\nvar l3 = global.get(\"l3\");\nvar l4 = global.get(\"l4\");\n\nmini = Math.min(l1,l2,l3,l4);\n\nres = \"-\";\n\nswitch(mini) {\n    case l1: res = \"Lane 1\"; break;\n    case l2: res = \"Lane 2\"; break;\n    case l3: res = \"Lane 3\"; break;\n    case l4: res = \"Lane 4\"; break;\n}\n\nglobal.set(\"optimal_lane\", res);\n\nmsg.payload = res;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":180,"wires":[["adb99184b7bf89e3","a7c3f665f961e460"]]},{"id":"adb99184b7bf89e3","type":"ui_text","z":"dc1fb371851d91c0","group":"1f11c83575c59148","order":1,"width":0,"height":0,"name":"Optimal Lane display","label":"Optimal Lane","format":"{{msg.payload}}","layout":"col-center","className":"","x":740,"y":180,"wires":[]},{"id":"a7c3f665f961e460","type":"debug","z":"dc1fb371851d91c0","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":240,"wires":[]},{"id":"89fee932ec44e399","type":"ui_text","z":"dc1fb371851d91c0","group":"1f11c83575c59148","order":3,"width":0,"height":0,"name":"","label":"Density","format":"{{msg.payload.Lane_1}} | {{msg.payload.Lane_2}} | {{msg.payload.Lane_3}} | {{msg.payload.Lane_4}}","layout":"col-center","className":"","x":380,"y":320,"wires":[]},{"id":"79bd62ab7c7a5c89","type":"cloudant out","z":"dc1fb371851d91c0","name":"db_store","cloudant":"9d182c1b08869556","database":"data_iot","service":"_ext_","payonly":true,"operation":"insert","x":680,"y":580,"wires":[]},{"id":"1168e4407f4210c3","type":"function","z":"dc1fb371851d91c0","name":"","func":"msg.payload = {\n    \"temp\":global.get(\"temp\"),\n    \"humid\":global.get(\"humid\"),\n    \"speed\":global.get(\"speed\"),\n    \"n\":global.get(\"n\"),\n    \"s\":global.get(\"s\"),\n    \"e\":global.get(\"e\"),\n    \"w\":global.get(\"w\"),\n    \"res\":global.get(\"res\"),\n    \"l1\":global.get(\"l1\"),\n    \"l2\":global.get(\"l2\"),\n    \"l3\":global.get(\"l3\"),\n    \"l4\":global.get(\"l4\"),\n    \"optimal_lane\":global.get(\"optimal_lane\")\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["79bd62ab7c7a5c89"]]},{"id":"ef3ecd8b94fd0588","type":"http in","z":"c1cec8c454ba3ea7","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["4f16c1a7ee249210"]]},{"id":"e8879b9cbcdaf034","type":"http response","z":"c1cec8c454ba3ea7","name":"","statusCode":"","headers":{},"x":630,"y":100,"wires":[]},{"id":"4f16c1a7ee249210","type":"function","z":"c1cec8c454ba3ea7","name":"","func":"msg.payload = {\n    \"temp\":global.get(\"temp\"),\n    \"humid\":global.get(\"humid\"),\n    \"speed\":global.get(\"speed\"),\n    \"n\":global.get(\"n\"),\n    \"s\":global.get(\"s\"),\n    \"e\":global.get(\"e\"),\n    \"w\":global.get(\"w\"),\n    \"res\":global.get(\"res\"),\n    \"l1\":global.get(\"l1\"),\n    \"l2\":global.get(\"l2\"),\n    \"l3\":global.get(\"l3\"),\n    \"l4\":global.get(\"l4\"),\n    \"optimal_lane\":global.get(\"optimal_lane\")\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":100,"wires":[["e8879b9cbcdaf034"]]},{"id":"046f0c83152f8132","type":"http in","z":"c1cec8c454ba3ea7","name":"","url":"/set_traffic_delay","method":"get","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["86ad465a336deaf4"]]},{"id":"c20d75f4fd97955f","type":"http response","z":"c1cec8c454ba3ea7","name":"","statusCode":"","headers":{},"x":630,"y":400,"wires":[]},{"id":"c077b931a373594e","type":"debug","z":"c1cec8c454ba3ea7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"86ad465a336deaf4","type":"function","z":"c1cec8c454ba3ea7","name":"","func":"global.set(\"r\", msg.payload.r);\nglobal.set(\"y\", msg.payload.y);\nglobal.set(\"g\", msg.payload.g);\n\nsave = {\n    \"r\":global.get(\"r\"),\n    \"y\":global.get(\"y\"),\n    \"g\":global.get(\"g\")\n};\n\nmsg.payload = save;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":400,"wires":[["c20d75f4fd97955f","c077b931a373594e"]]},{"id":"a255ba6376303432","type":"http in","z":"c1cec8c454ba3ea7","name":"","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["693546a7d68dfa01"]]},{"id":"96948b84e45449d4","type":"http response","z":"c1cec8c454ba3ea7","name":"","statusCode":"","headers":{},"x":630,"y":180,"wires":[]},{"id":"693546a7d68dfa01","type":"function","z":"c1cec8c454ba3ea7","name":"","func":"msg.payload = {\n    \"r\":global.get(\"r\"),\n    \"y\":global.get(\"y\"),\n    \"g\":global.get(\"g\"),\n    \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["96948b84e45449d4"]]}]